
#root{     
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow: '-moz-hidden-unscrollable',
}
body{
  box-sizing: border-box;
  padding: 0;
  overflow-x: auto;
}


li {
  text-decoration: none;
  list-style-type: none;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.error {
  border: solid 1px red;
}

.partager{
  display: flex;
    box-sizing: border-box;
  padding: 0;
  overflow-x: auto;
  min-height: 100vh;
  
}
.flexcol{

  display: flex;
  box-sizing: border-box;
  padding: 0;
  flex-direction: column;
  width:100%;
}

.footer{
  background: #263238;
  color: white;
  padding: 0 50px;
  display: flex;
}
footer p {
  font-size: 12px;
  margin-top: 5px;
}
.footerlink{
  margin-top: 1em;
}
.footerlink:hover{
  color: black;
  cursor: pointer;
}

.salepercent{
    color: black;
    font-size:  0.8em;
}
.saleStyle {
  height: 24px;
  display: flex;

}
.saleperccent{
  padding-top:  0.8em;
  display: hidden;
}
.salenumber {
  text-decoration: line-through;
  width: 50%;
}
.salenormal{
  padding-top: 22px;
  padding-bottom: 22px;
}
.salebold{
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .partager {
    flex-direction: column;
  }
}

